<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <div th:replace="fragments/header :: header-css"/>
</head>

<div th:replace="fragments/header :: header"/>
<body>
Данное приложение призвано упростить приём денег на праздники через переводы на карту. Сборщик сможет не задумываться и не вычислять сколько на карте его личных средств, а сколько общественных.
Если вы хотите сдать деньги на праздник, то осуществите следующие шаги:
<ol>
    <li>Аутентифицируйтесь в приложении. login/password - фамилия/фамилия, например, ivanov/ivanov.</li>
    <li>Смените пароль на вкладке "Мой профиль"</li>
    <li>Перейдите на вкладку "События".</li>
    <li>Выберете события, на которые собираются деньги на карту. Для них поле "Ответственный" заполнено.</li>
    <li>Переведите ответственному по номеру его телефона на его карту сумму, не превышающую 300*количество доступных для перевода событий. Переводимая сумма должна быть кратна 300. Остаток от деления на 300 не учитывается и считается донатом на развитие проекта:)</li>
    <li>Через 1-2 минуты убедитесь, что ваша фамилия появилась в списке сдавших. Если переведённая сумма меньше 300*количество доступных для перевода событий, то события для оплаты выбираются произвольно.</li>
</ol>
</body>
</html>
