<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <div th:replace="fragments/header :: header-css"/>
</head>

<div th:replace="fragments/header :: header"/>
<body>
    <div th:switch="${user}" class="container my-5">
        <div class="col-md-10">
            <div th:case="*">

                <form th:action="@{/profile}" th:object="${user}" method="post">
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">Имя</label>
                            <input type="text" class="form-control" id="inputFirstName" th:field="*{firstName}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Фамилия</label>
                            <input type="text" class="form-control" id="inputLastName" th:field="*{lastName}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="inputLogin">Логин</label>
                            <input type="text" class="form-control" id="inputLogin" th:field="*{login}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" th:field="*{password}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>
